* {
    margin          : 0;
    font-family     : Consolas,monaco,monospace; 
}

html, body {
    height          : 100%;
    overflow        : hidden;
}

.container {
    margin          : 1em auto;
    height          : calc(100% - 2em);
    overflow        : hidden;
}

.graph {
    overflow        : hidden;
    height          : calc(100% - 5em);
}

.graph_container {
    position        : relative;
    overflow        : auto;
    height          : calc(100% - 5em);
}

.scans {
    position        : fixed;
    left            : 0;
    bottom          : 0;
    width           : 100%;
    text-align      : center;
}

.scan_list {
    margin          : 0 auto;
    display         : inline-block;
}

.vertex {
    border          : solid 2px;
    display         : inline-block;
    height          : 3em;
    width           : 15em;
    margin          : 0 auto;
    text-align      : center;
    line-height     : 2.5em;
    position        : absolute;
    box-shadow      : 0.3em 0.3em 0.3em 0 rgba(0, 0, 0, 0.2);
}

.RCSP {
    box-shadow      : 0.3em 0.3em 0.3em 0 rgba(0, 255, 0, 0.4);
}

.STSP {
    box-shadow      : 0.3em 0.3em 0.3em 0 rgba(255, 0, 0, 0.4);
}

.ACTIVE {
    color           : #3e8f3e;
    border-color    : #3e8f3e;
}

.FAIL {
    color           : #b92c28;
    border-color    : #b92c28;
}

.REACHED {
    color           : #d58512;
    border-color    : #d58512;
}

.INACTIVE {
    color           : #000;
    border-color    : #000;
}

.FUTURE {
    color           : #269abc;
    border-color    : #269abc;
}

.edge {
    border-top      : 1px solid;
    position        : absolute;
    text-align      : center;
    transform-origin: 0 0;
}

.tipster {
    list-style      : none;
    margin          : 0 auto;
    padding         : 0;
    text-align      : center;
    color           : rgba(0, 0, 0, 0.8);
    line-height     : 2.5em;
    background      : white;
    visibility      : hidden;
}

.tooltipster-content .tipster {
    visibility      : visible;
}

/*
.tipster {
    position        : relative;
    display         : inline-block;
    border          : solid 1px rgba(0, 0, 0, 0.2);
    list-style      : none;
    margin          : 0 auto;
    padding         : 0;
    text-align      : center;
    color           : rgba(0, 0, 0, 0.8);
    box-shadow      : 0.2em 0.2em 0.2em 0 rgba(0, 0, 0, 0.2);
    line-height     : 2.5em;
    left            : 50%;
    transform       : translate(-50%, 1.5em);
    visibility      : hidden;
    z-index         : 99;
    background      : white;
}*/

/*
.tipster:before, .tipster:after {
    content         : '';
    position        : absolute;
    width           : 1em;
    height          : 1em;
    left            : 50%;
    background      : white;
    z-index         : 999;
    transform       : rotate(45deg) translate(-50%, -25%);
}

.tipster:before {
    border-left     : solid 1px rgba(0, 0, 0, 0.2);
    border-top      : solid 1px rgba(0, 0, 0, 0.2);
}

.tipster:after {
    border-right    : solid 1px rgba(0, 0, 0, 0.2);
    border-bottom   : solid 1px rgba(0, 0, 0, 0.2);
}

.vertex:hover .tipster {
    visibility      : visible;
}*/

.tipster li {
    width           : 32em;
}

.tipster li:not(:last-child) {
    border-bottom   : solid 1px rgba(0, 0, 0, 0.2);
}

.tipster li span {
    display         : inline-block;
    text-align      : left;
}

.tipster li span.key {
    width           : 15em;
}

.tipster li span.value {
    width           : 15em;
    min-height      : 1em;
    margin-left     : 1em;
}

.tipster li.data {
    padding         : 0.5em;
}

.scan {
    margin          : 0 2em;
    position        : relative;
}

.scan.element{
    width           : 4em;
    height          : 4em;
    border          : solid 1px #269abc;
    background      : #269abc;
    border-radius   : 4em;
    box-shadow      : 0.2em 0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
    float           : left;
    text-align      : center;
    line-height     : 4em;
    color           : #fff;
    cursor          : pointer;
}

.scan.element.selected {
    border-color    : #3e8f3e;
    background      : #3e8f3e;
}

.scan.arrow {
    border-top      : 1px solid rgba(0, 0, 0, 0.2);
    top             : 0;
    margin          : 2em;
    z-index         : -99;
}
